body{
    color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    background-image: url("lsVt2sT-windows-xp-wallpaper-bliss.jpg");
    background-attachment: fixed;
    overflow: overlay;
    background-size: cover;	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color:transparent
  }
  
  ::-webkit-scrollbar-thumb {
	background: rgba(90, 90, 90);
  }
  
  ::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
  }
  
button{
	font-family: Tahoma;
	margin: 10px;
	color: white;
	box-shadow: #222;
	border-radius: 5px;
	border-width: 2px;
	background-color:rgba(107, 107, 107, 0.219);
	display:inline-block;
	width:120px;
	height:26px;
	overflow:hidden;
	text-overflow:ellipsis;
}
button:hover{
	transition: all .2s ease-in-out;
}
#start{
    padding: 10px;
    cursor: move;
    z-index: 10;
    position: fixed;
    max-width: 400px;
    bottom: 5%;
    background-color: transparent;
    display: hidden;
    backdrop-filter: blur(4px);
}
.ui{
	font-family: consolas;
	position: relative;
	margin: 300px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(30, 30, 30);
	border: solid #000;
	border-width: 10px;
  border-radius: 20px;
	width:1160px;
	height:780px;
	margin:250 auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.ui span{
	position: absolute;
	bottom: 0;
	left: 0;
}
.taskbar {
	width:100%;
	bottom:0;
	position:absolute;
	background-color:rgba(0, 0, 0, 0.445);
	
    backdrop-filter: blur(10px);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.089), 0 1px 8px rgba(0, 0, 0, 0.596);

}
.ogSP{
	background-color:#111;
	height:25px;
	font-family:Verdana, Geneva, Tahoma, sans-serif	;
	color: white;
	display:inline-block;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color: transparent;
	font-weight: 500;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}
.ogSP:hover{
	transform: scale(110%);
	transition: all .2s ease-in-out;
	background-color: rgba(46, 46, 46, 0.555);
}

.startbutton {
    background-color: transparent;
    bottom: 15px;
    position: relative;
    height: 40px;
    width: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    transform: translate(30%, 0%) scale(2.5);
	}
}
img{
	transition: 1500ms;
}
img:hover{
	filter: url(#glow);
	transition: box-shadow 1000ms;
}

.A1 {
	height:25px;
	font-size: 20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif	;
	display:inline-block;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color: transparent;
	font-weight: 500;
	
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
	}
.A1:hover{
	transform: scale(90%);
	transition: all .2s ease-in-out;
	background-color: rgba(46, 46, 46, 0.555);
}

.A2 {
	height:25px;
	font-size: 20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif	;
	display:inline-block;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color: transparent;
	font-weight: 500;
	
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
	}
.A2:hover{
	transform: scale(90%);
	transition: all .2s ease-in-out;
	background-color: rgba(46, 46, 46, 0.555);
}

.A3 {
	height:25px;
	font-size: 20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif	;
	display:inline-block;
	width:auto;
	overflow:hidden;
	text-overflow:ellipsis;
	background-color: transparent;
	font-weight: 500;
	
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
	}
.A3:hover{
	transform: scale(90%);
	transition: all .2s ease-in-out;
	background-color: rgba(46, 46, 46, 0.555);
}

.tasks {
    float: center;
}
.task {
	background-color:#222;
	display:inline-block;
	width:120px;
	height:26px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.task:hover{
	transform: scale(1.5);
	transition: all .2s ease-in-out;
}
img{
	width: 30px;
	height: 30px;
	float:center;
}
textarea{
    color:white;
    background-color: #222;
}
#footer{
	z-index: 100;
    height: 30px;
    align-items: center;
    display: flex;
	background-color: #0000004d;
	color: white;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 10px 20px rgb(0 0 0 / 60%);
	top: 96%;
    position: absolute;
    width: 99%;
}
.startbutton1{
	width:70px;
	height: auto;
	font-size: 40px;
}
.startbutton1:hover{
	width: 70px;
	height: auto;
	--webkit-filter: brightness(20px);
}
#startIcons{
	width:70px;
	height: auto;
	font-size: 40px;
}

a{
	-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
/* ...and now for the proper property */
transition:.5s;
}
a:hover {color:#353C68}
